<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .large-text {
            font-size: 3em;
        }
    </style>
</head>
<body>
    <div class="large-text">
        The experiment has failed to start because not enough people signed in. Thank you for your participation.<br />
        Please click <a href="https://app.prolific.com/submissions/complete?cc=C1C9UDLV">here</a>  to return to Prolific.
    </div>
</body>
</html>